jobs:
  include:
    - stage: Test
      language: csharp
      dist: xenial
      mono: none
      dotnet: 2.2
      install: 
        - dotnet clean
        - dotnet restore
      script:
        - dotnet build
        - dotnet test Izzy.Web.Tests

    - language: node_js
      node_js:
        - 10.15.0
      before_install:
        - cd Izzy.Web/Client/
      install:
        - npm install
      script:
        - npm test

    - stage: Deploy
      services:
        - docker
      script: bash Scripts/deploy.sh
      deploy:
        provider: releases
        api_key: $GITHUB_OAUTH_TOKEN
        skip_cleanup: true
        on:
          tags: true

branches:
  only:
    - /.*/
notifications:
  email: false
